/*============  Media 940Px Start ============ */
@media screen and (min-width: 1200px) and (max-width: 1420px) {
    .gt_thankyou_bg,.about_us_bg,section{height: auto;}
    .section_bg_image{height: auto;}
    .footer_bg.about_us_footer{position: relative;}

    .footer_bg.about_us_footer{position: relative;}

}

/*============	Media 940Px Start ============ */
@media screen and (min-width: 991px) and (max-width: 1199px) {
    .login_wrap {margin-right: 20px;}
    .navigation {margin-left: 20px;}
    .navigation>ul>li {margin-left:20px;}
    .navigation>ul>li {margin: 9px 10px;}
    .search_form {margin:8px 0 0;}
    .padding_right {padding-right: 20px;}
    .padding_left {padding-left: 30px;}
    .service_wrap {padding: 15px 20px;}
    .padding_right2 {padding-right: 170px;}
    .site_map>ul>li {padding: 0px 12px;}
    .banner_text>h2{font-size: 30px;}
    .banner_form{width: 80%;bottom: 20px;}
    .gt_tab_link{width: 100%;text-align: center;}
    .gt_tab_link>ul>li{width: auto;float: none;display: inline-block;}
    .gt_tab_link>ul>li>a{padding: 15px 15px;}
    .tab_popup_des{width: 100%;padding: 15px 20px;}
    .gt_product_list_wrap.gt_tab_product_list,.buyer_tab_outer_wrap{width: 100%;}
    .gt_tab_link{border-bottom: 1px solid #dadada;}
    .modal-dialog.login_popup{top: 0%;}
    .modal-dialog.tab_popup_width{top: 0%;}
    .footer_bg.about_us_footer{position: relative;}
    .gt_thankyou_bg,.about_us_bg,section{height: auto;}
    .section_bg_image{height: auto;}
    .footer_bg.about_us_footer{position: relative;}
    .header_r {margin: 0;}
    .navigation {display: block !important;}
    .login_wrap .dropdown-menu {left:auto;top:50px;right:0;}

}

/*============	Media 990Px Start ============ */ 
@media (max-width: 991px) {
    .service_wrap{text-align:center;}
    .padding_right {padding-right: 0px;}
    .padding_right3{padding-right: 0px;}
    .padding_right2 {padding-right: 0px;padding-left: 0px;}
    .product_wrap{margin-bottom: 30px;}
    .social_media{width: 100%;text-align: center;margin: 12px 0px 10px;}
    .site_map{text-align: center;width: 100%;}
    .gt_mobile_menu{display:inline-block;float: right;margin-top: 2px;}
    .login_wrap{margin-right: 0px;margin-left: 5px;float: left;}
    .navigation{display: none;}
    .navigation{width:280px;position:absolute;top:38px;left:15px;right:auto;background-color:rgba(0,0,0,0.95);z-index:100;}
    .navigation>ul>li{width:100%;margin:0;padding:9px 10px;}
    .navigation>ul>li:hover,.navigation>ul>li.active{background-color:#f6921e;}
    .navigation>ul>li:hover a,.navigation>ul>li.active a{color:#ffffff;}
    .navigation>ul>li:before{display:none;}
    .s_product_img{margin-bottom: 15px;float: none;width: 280px;margin: auto;}
    .active_product .s_product_img{margin-left: auto;}
    .modal-dialog.login_popup{top: 0%;}
    .modal-dialog.tab_popup_width{top: 0%;}
    .form_style>form>select{width: 100%;border-radius: 0;margin-bottom: 0;}
    .form_style>form>button{font-size: 16px;height: 37px;}
    .res_tab_icon{display: inline-block;}
    .description textarea{width: 100%;}
    .s_price_wrap{margin-left: 0px;}
    .about_us_padding {padding: 80px 0px 50px;}
    .gt_thankyou_bg,.about_us_bg,section{height: auto;}
    .section_bg_image{height: auto;}
    .footer_bg.about_us_footer{position: relative;}
    /*.fixedHeight,.gt_x_product_scroll{height: auto;}*/
    .rating_star .starrr span{font-size: 15px !important;}
    .rating_star{float: none;width: 270px;margin: 0 auto;}
}

/*============	Media 768Px Start ============ */ 
@media (min-width: 768px) and (max-width: 991px) {
    .banner_form.form_style{background-color: rgba(0,0,0,0.75);padding: 20px;width: 80%;}
    .form_style>form>button {height: 48px !important;}
    .form_style>form>select{width: calc(100% - 181px) !important;border-top-right-radius: 0px !important;border-bottom-right-radius: 0px !important;height: 48px;}
    .banner_text>h2{font-size: 40px;}
    .gt_product_price>h4{font-size: 20px;text-overflow: ellipsis;overflow: hidden;}
    .gt_product_cart_btn>a{padding: 3px 40px;}
    .gt_tab_link{width: 100%;text-align: center;}
    .gt_tab_link>ul>li{width: 24%;float: none;display: inline-block;}
    .gt_tab_link>ul>li>a>span{display: none;}
    .res_tab_icon{display: inline-block;}
    .gt_tab_link>ul>li>a{padding: 8px 15px;}
    .tab_popup_des{width: 100%;padding: 15px 20px;}
    .gt_product_list_wrap.gt_tab_product_list,.buyer_tab_outer_wrap{width: 100%;}
    .gt_tab_link{border-bottom: 1px solid #dadada;}
    .tab_popup_width{width: 95%;}
    .gt_mobile_menu{float: left !important;}
    .header_r {margin: 0;}
    .tt-menu{left:auto !important;right:0 !important;}
    .header_r {margin:0;padding:0;position:relative;}
    .cart_wrap {float: right;margin: 0 0 0 20px;position: relative;right: 0;top: 0;}
    .navigation {left:auto; right:41px  ;}

}


/*============ Media 767Px Start ============ */
@media (max-width: 767px) {
    .gt_mobile_menu {display: inline-block;float: right;left: 15px;margin: 0;position: absolute;top:0;height:36px;}
    .logo {margin:6px 0 5px;padding:0 40px;width:100%;}
    #home1.default_bg:after {position: absolute;content: '';top: 0;right: 0;left: 0;bottom: 0;background: rgba(56, 54, 54, 0.75);z-index:0;}
    .main_content, .main_wrapper{position:relative;z-index:1;}
    .header_bg{padding:15px 0px;}
    .about_us_bg {padding: 140px 0px 20px;}
    section{padding: 90px 0px;}
    .title_wrap{text-align: center;}
    .title_wrap>h1.title>img{display: block;}
    .number{left: -10px;top: -70px;bottom: auto;right: 0px;margin: auto;}
    .link_list_wrap>ul>li>a{margin-bottom: 10px;}
    .s_progress>span{width: 100%;text-align: center;margin-bottom: 15px;}
    .s_progress .progress{width: 90%;}
    .gt_product_img{width: 100%;text-align: center;}
    .gt_product_img>img{width: auto;height: auto;}
    .gt_product_price,.gt_product_price{width: 50%;}
    .gt_product_cart_btn{width: 100%;text-align: center;padding-bottom: 15px;}
    .gt_product_price>h4{font-size: 20px;}
    .description textarea{width: 100%;}
    .thank_you_wrap p{font-size: 15px;margin-bottom: 40px;}
    .thank_you_wrap p br{display: none;}
    .header_r {left: 0;margin: 0;padding: 0 15px;position: absolute;top: 0;width: 100%;}
    .logo {float: left;margin: 0;text-align: center;width: 100%;margin:0;}
    .logo a{position:relative;top:6px;}
    .logo img{max-height:36px;} 
    .gt_s_product_bg{padding: 40px 0px;}
    .gt_s_product_bg.active_product{padding: 60px 0px 40px;}
    .active_product .s_product_img>img{height: auto;}
    .product_wrap>h4 {font-size: 18px;}
    .product_margin_left{margin-left: 0px;}
    .responsive_hdg_show{display: block;}
    .responsive_hdg_hide{display: none;}
    .product_wrap>img {height: 145px;}
    .banner_outer_wrap{background-position: -150px;}
    .banner_text{}
    .banner_text>h2{font-size: 20px;display: none;}
    .banner_text>p{font-size: 10px;line-height: normal;display: none;}
    .banner_text .mb15{margin-bottom: 10px;}
    .banner_form{width: 100%;}
    .banner_form h2{font-size:20px;}
    .form_style>p{font-size:14px;}
    .banner_text{margin: -90px 0px 0px;}
    .banner_form.form_style{position: absolute;padding: 20px 10px 25px;width: 90%;bottom: auto;margin-top: -40px;}
    .form_style>form>select{height: 38px;}
    .form_style>form:before{background-size: 100%;bottom: -60px;}
    .form_style>form{margin-bottom: 20px;}
    a.form_link{font-size: 12px;}
    .title{font-size: 20px;}
    .gt_how_work_resp{display: block;}
    .hows_work_wrap{display: none;}
    .gt_tab_link{width: 100%;text-align: center;}
    .gt_tab_link>ul>li{width:25%;display: inline-block;}
    .gt_tab_link>ul>li:before{display: none;}
    .gt_tab_link>ul>li>a{padding: 12px 15px;}
    .gt_tab_link>ul>li>a>span{display: none;}
    .tab_popup_des{width: 100%;padding: 15px 20px;}
    .gt_product_list_wrap.gt_tab_product_list,.buyer_tab_outer_wrap{width: 100%;}
    #gt_buyer_scroll{overflow-y: scroll !important;}
    .gt_tab_link{border-bottom: 1px solid #dadada;}
    .tab_popup_width{width: 95%;}
    .popup_field{margin-bottom: 15px;}
    .about_us_padding {padding:130px 0px 50px;}
    .buyer_product_img{width: 100%;text-align: center;}
    .buyer_product_img>img{width: auto;height: auto;}
    .buyer_product_des{width: 100%;}
    .product_gradiant>ul{width: 100%;}
    .buyer_tab_outer_wrap{height: 500px;}
    .buyer_name{width: 100%;}
    .product_gradiant{width: 100%;}
    .product_rating{width: 100%;}
    .section_bg_image#home4, .section_bg_image#home2{background-position: right top;}
    .cat_img_goal{height: 150px;}
    .product_wrap .cat_img_goal img{max-height: 145px;}
    .s_product_img{width: 80%;}
    .tab_range_img{width: 100%;}
    .tab_range_name{width: 100%;}
    .tab_range_points{width: 100%;padding-left: 10px;margin-top: 15px;}
    .tab_range_des{width: 100%;margin-top: 15px;padding: 0px 10px;}

    .popupContainer{top: 10px !important;}

    .s_product_link>a{min-width: 235px;padding: 10px 15px;font-size: 18px;}
    .agbs_wrap h1 {font-size:25px;word-break: break-word;}
    .gt_x_product_list .product_rating>ul>li {width:24%;}

    .gt_product_like{width: 100%;}
    .gt_product_like>ul{text-align: center;}
    .tab_product_buyer_wrap .gt_product_like>ul{text-align: left;}
    .search_form {margin:0;width:100%;}
    .search_form > form {margin: 0 auto;max-width: 350px;position: relative;width: 100%;}
    .search_form span,
    .search_form input[type="search"] {width:100%;line-height:26px !important;}
    .search_form input[type="search"] { padding: 3px 42px 3px 20px !important;}
    .search_form > form > button {height:30px;right:12px;top:2px;}
    .navigation>ul>li.cart-li{padding: 0;}
    .cart_wrap {float: none;margin: 0;position: inherit;right: inherit;top: inherit;width: auto;}
    .cart_wrap>a{display: inline-block;}
    .cart_wrap>span{position: inherit;display: inline-block;font-size: 14px;vertical-align: 4px;top: inherit;right: inherit;margin: 0 0 0 10px;line-height: normal;padding: 0;font-weight: 500;width: 20px;height: 20px;}
    .small_product{width: 80%;float: none;margin: 10px auto 0;}
    .rating_star .starrr span{font-size: 14px !important;}
    .rating_star{float: none;width: 270px;margin: 0 auto;}
    .navigation {position: fixed;top: 66px;left: 0;right: 0;width: auto;bottom: 0;padding: 10px 0;}
    body.modal-open,
    .body-position{position:fixed;width:100%;} /*Added to position login modal tv*/
    .product_between{margin-bottom:15px;}
}

/*============ Media 300Px Star ============ */
@media (max-width: 480px) {
    .service_wrap{padding-left:0px;padding-right:0px;}
    .padding_right {padding-right: 0px;}
    .padding_left {padding-left: 0px;}  
    .padding_right2 {padding-right: 0px;padding-left: 0px;}
    .padding_right3 {padding-right: 0px;}
    .site_map>ul>li{width:100%;border-left:0px;}
    .form_style>form>select{margin:0 0 10px;}
    .gallery_img_des>h4{font-size: 13px;}
    .gallery_img_des{margin-top: -10px;}
    .heading_wrap>h5{font-size: 15px;}
    .heading_wrap>h4{font-size: 25px;}

    .form_style>p{font-size: 12px;}
    .form_style>form>button{position: relative;border-radius: 30px;}
    .form_style>form>input[type="text"]{padding: 8px 10px 8px 10px;margin-bottom: 15px;}

    .login_popup{width: 95%;}

    .gt_product_list_wrap{height: auto;min-height: 50vh;overflow: visible !important;}
    .gt_x_product_list .buyer_des>p {color: #ffffff;font-size: 12px;}
    .gt_x_product_list .buyer_product_des {width: 100%;}
    .heading_wrap{padding: 0 20px;}
    .heading_wrap h5 br{display: none;}
    .gt_sec_close_btn{opacity: 1;}
}
/*============ Media 480Px Star ============ */
@media (max-width: 320px) {
    .forget_password>a,.remember_wrap>label{font-size: 13px;}
}
/*
.popupContainer {
    position: absolute;
    width: 330px;
    height: auto;
    left: 45%;
    background: #FFF;
    top: 50% !important;
    margin-top: -200px;
}*/