/*
          ==============================================================
                   Import CSS
          ==============================================================
*/
@import url('bootstrap.min.css');
@import url('font-awesome.min.css');
@import url('typography.css');
@import url('jquery.nstSlider.css');
@import url('popup.css');
@import url('svg-style.css');
/*
          ==============================================================
                   Default CSS
          ==============================================================
*/
:focus{outline:none !important;}
.main_wrapper{overflow: hidden;}
header,
section,
footer{
    float:left;
    width:100%;position: relative;
}
body.disable_scroll {
    overflow: hidden;
    padding-right: 18px;
}
.main_content,.main_wrapper{float:left;
                            width:100%;}
.container{position: relative;}
.default_width{width: 100%;float: left;position: relative;}
section{padding: 150px 0px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.ml45{margin-left:45px;}
.ml3{margin-left:-3px;}
.ml10{margin-left:10px;}
.theme_color{color: #f6921e;}
.theme_bg{background-color: #f6921e;}
.white{color: #ffffff;}
.black{color: #000000;}
.bg_white{background-color: #ffffff;}
.bg_black{background-color: #000000;}
.no_margin{margin: 0px;}
.no_padding{padding: 0px;}
.fbold{font-weight:bold;}
.mt15{margin-top:-14px;}
.fixedHeight{height:412px;}
.flex_box {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;clear: both;}
.s_product_name .flex_box{min-height: 180px;}
.s_product_name .inner{width: 100%;}
.s_product_name .inner:after {clear: both;display: block;content: '';}
/*
          ==============================================================
                   Header Style
          ==============================================================
*/
.default_padding{padding: 40px 0px;}
.default_bg{background-repeat: no-repeat;background-size: cover;background-attachment: fixed;background-position: center;}
/*.default_bg:before{content: "";position: absolute;top: 0px;left: 0px;background-color: rgba(0,0,0,0.7);right: 0px;bottom: 0px;}*/
.header_bg{background-color: rgba(0,0,0,0.7);padding: 20px 0px;position: fixed;top: 0px;width: 100%;left: 0px;z-index: 1001;}
.logo{float: left;width: auto;}
.search_form{margin-left: 25px;margin-right: 25px;float:right;width: auto;margin-top: 8px;}
.search_form>form{width: 160px;position: relative;}
.search_form>form>input[type="search"]{width: 100%;background-color: transparent;border-radius: 50px;-moz-border-radius: 50px;-webkit-border-radius: 50px;border: 1px solid #ffffff;padding: 3px 40px 3px 10px;height: 29px;}
.search_form>form>button{width: 25px;height: 25px;background-image: url(../images/search-icon.png);background-repeat: no-repeat;background-position: center;position: absolute;top: 1px;right: 2px;background-color: transparent;}
.login_wrap{width: auto;float: right;margin-right: 30px;margin-left: 10px;margin-top: 8px;}
/*.login_wrap>a{text-align:center;display: inline-block;border: 1px solid #ffffff;border-radius: 30px;padding: 3px 12px;text-transform: capitalize;color: #ffffff;transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;}
.login_wrap>a:hover{border-color: #f6921e;background-color: #f6921e;}*/
.cart_wrap{float: left;width: auto;position: relative;margin-top: 7px;}
.cart_wrap>a{display: block;color: #ffffff;font-size: 24px;}
.cart_wrap>span{background-color: #f6921e;color: #ffffff;font-size: 10px;text-align: center;border-radius: 100%;padding: 0px 3px;position: absolute;top: 0px;right: -7px;line-height: 12px;height: 13px;}
.cart_wrap>a:hover{color: #f6921e;}
/*
          ==============================================================
                   Navigation Style
          ==============================================================
*/
.navigation{float: left;margin:0;position:relative;}
.navigation>ul{float: left;}
.navigation>ul>li{position: relative;display: inline-block;margin: 9px 20px;}
.navigation>ul>li:before{content: "";position: absolute;bottom: -30px;left: 0px;width: 0px;height: 3px;background-color: #f6921e;transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;}
.navigation>ul>li>a{display: block;font-size: 16px;color: #ffffff;font-weight: 500;transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;}
.navigation>ul>li.active:before,.navigation>ul>li:hover:before{width: 100%;}
.navigation>ul>li.active>a,.navigation>ul>li:hover>a{color: #f6921e;}
/*Responsive Menu*/
.gt_mobile_menu{height: 36px;position: relative;width: 40px;padding: 0px 6px;display: none;background-color:#f6921e;}
.gt_mobile_menu>span.icon-bar{display: block;width: 100%;height: 4px;margin: 0px 0px 4px;background-color: #ffffff;}
.gt_mobile_menu>span.icon-bar:last-child{margin-bottom: 0px;}
.gt_mobile_menu:hover>span.icon-bar{background-color: #ffffff;background-color:#f6921e;}
.gt_mobile_menu:hover{background-color: #ffffff;}
#modal_trigger:hover{background-color: #f6921e;} /*Hove effect*/
/*
          ==============================================================
                   About Us Style
          ==============================================================
*/
.about_us_bg{height: auto;}
.about_us_bg{padding: 120px 0px 20px;}
.about_us_padding{padding: 120px 0px 50px;}
.title_wrap{text-align: center;}
.title{color: #ffffff;font-weight: 600;line-height: normal;}
.padding_left{padding-left: 0px;}
.padding_right{padding-right: 150px;}
.padding_right2{padding-right: 130px;}
.padding_right3{padding-right: 40px;}
.service_border{border-bottom: 1px solid #c6c6c6;}
.service_wrap{padding: 20px 40px;}
.service_icon>img{width: 200px;height: 200px;}
.services_des{padding-top: 10px;padding-bottom: 20px;}
.services_des>h3{font-weight: 600;}
/*
          ==============================================================
                   Footer Bg Style
          ==============================================================
*/
.footer_bg.about_us_footer{bottom: 0px;width: 100%;}/*remove position position: absolute;*/
.footer_bg{background-color: #000000;padding: 30px 0px;}
.site_map{margin-top: 3px;}
.site_map>ul{width: 100%;float: left;}
.site_map>ul>li{position: relative;display: inline-block;color: #ffffff;padding: 0px 16px;border-left: 1px solid #ffffff;}
.site_map>ul>li>a{display: inline-block;color: #ffffff;line-height: 14px;transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;}
.site_map>ul>li:first-child{border-left: 0px;}
.site_map>ul>li:hover a{color:#f6921e;}
.social_media>ul{width: auto;}
.social_media>ul>li{position: relative;display: inline-block;margin-left: 5px;}
.social_media>ul>li>a{display: block;color: #000000;background-color: #f6921e;width: 26px;height: 26px;border-radius: 100%;text-align: center;line-height: 26px;}
/*
          ==============================================================
                  Thank You Page Style 
          ==============================================================
*/
.thank_you_wrap p{ font-size: 26px;text-transform: capitalize;font-weight: 600;line-height:normal;margin-bottom: 100px;}
.thank_you_wrap span{display: block;font-weight: bold; font-size: 18px;}
.description textarea{margin: 0px; width:800px; height:250px;background:rgba(0,0,0,0.4); border: 3px solid #000000;padding: 20px 20px;}
.submit_form{width: auto;}
.submit_form>a{font-size:18px;font-weight:600;display: inline-block;border: 2px solid #f6921e;border-radius: 30px;padding: 11px 80px 10px;text-transform: uppercase;color: #ffffff;transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;background-color: rgba(0,0,0,0.5);}
.submit_form>a:hover{border-color: #f6921e;background-color: #f6921e;}
/*
          ==============================================================
                  AGBS Page Style 
          ==============================================================
*/
.agbs_wrap>h1{font-weight: bold;}
.agbs_wrap p{font-size: 16px;line-height: normal;font-weight: 500;}
.agbs_wrap h4{text-transform: capitalize; line-height: 28px;font-weight: 600;}
/*
          ==============================================================
                   Banner Style
          ==============================================================
*/
.banner_outer_wrap{width: 100%;min-height: 100vh;position: relative;}
.banner_text{position: absolute;top: 35%;left: 0px;width: 100%;text-align: center;margin: -100px 0px 0px;}
.banner_text>h2{font-family: 'Raleway', sans-serif;font-weight: 600;text-transform: uppercase;position: relative;padding-bottom: 10px;font-size: 45px;text-shadow: rgba(0,0,0,0.5) 2px 1px 6px, rgba(0,0,0,0.5) 2px 1px 7px;}
.banner_text>h2:before{content: "";position: absolute;bottom: 0px;left:0px;right:0px;margin: auto;height: 3px;background-color: #f6921e;width: 100px;}
.banner_text>p{text-transform: uppercase;font-size: 18px;font-weight: 500;}
.banner_text>img{width: auto;height: auto;margin-top: 5px;}
/*Form Style*/
.banner_form{position: absolute;top:50%;width: 767px;left: 0px;right: 0px;margin: auto;}
.banner_form h2{font-family: 'Raleway', sans-serif;font-weight: 600;text-transform: uppercase;position: relative;margin-bottom: 20px;font-size: 32px;text-shadow: rgba(0,0,0,0.5) 2px 1px 6px, rgba(0,0,0,0.5) 2px 1px 7px;color:#fff;}
.form_style{background-color: rgba(0,0,0,0.64);padding: 50px;text-align: center;}
.form_style>form{width: 100%;position: relative;margin-bottom: 20px;}
.form_style>form:before{content: "";position: absolute;bottom: -70px;left: 0px;right: 0px;width: 100%;height: 86px;background-image: url(../images/form-shahdow.png);background-position: center;background-repeat: no-repeat;display:none;}
.form_style>form:after{clear:both;display:block;content:'';}
.form_style>form>input[type="text"]{width: 100%;background-color: transparent;border: 1px solid #f6921e;border-radius: 30px;height: 50px;padding: 8px 250px 8px 20px;}
.form_style>form>select{width: calc(100% - 220px);background-color: #fff;border: 1px solid #f6921e;height: 50px;padding: 8px 20px 8px 20px;color: #333;float: left;outline: none;font-size:18px;}
.form_style>form>select>option{background-color: #000;outline: none;color:#fff;}
.form_style>form>button{color: #000000;text-transform: uppercase;font-size: 20px;font-weight: 600;position: absolute;top: 0px;right: 0px;height: 50px;padding: 0px 20px;border:solid 1px #f6921e;}
.form_style>form>button:hover{background-color: #ffffff;color: #000000;}
.form_style>p{text-transform: uppercase;font-size: 18px;}
a.form_link{font-size: 20px;color: #ffffff;border: 1px solid #f6921e;padding: 10px 25px;border-radius: 30px;display: inline-block;text-transform: uppercase;font-weight: 600;}
a.form_link:hover{background-color: #f6921e;}
/*
          ==============================================================
                   Heading Wrap Style
          ==============================================================
*/
.heading_wrap{text-align: center;}
.heading_wrap>h4{font-size:36px;text-transform: uppercase;font-weight: bold;}
/*
          ==============================================================
                   Gallery Bg Wrap Style
          ==============================================================
*/
.section_bg_image{background-repeat: no-repeat;background-size: cover;background-attachment: fixed;background-position: center;min-height: 100vh;}
.gallery_wrap_bg:before{content: "";position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;background-color: rgba(0,0,0,0.85);}
.gallery_wrap{overflow: hidden;cursor: pointer;}
.gallery_wrap>img{width: 100%;height: auto;transition:all 2.9s ease-in-out;-moz-transition:all 2.9s ease-in-out;-webkit-transition:all 2.9s ease-in-out;}
.gallery_wrap:before{content: "";position: absolute;top: 10px;left: 10px;right: 10px;bottom: 10px;border: 3px solid #f6921e;z-index: 10}
.gallery_wrap:hover:before{top: 0px;left: 0px;right: 0px;bottom: 0px;}
.gallery_wrap.select:before{top: 0px;left: 0px;right: 0px;bottom: 0px;}
.gallery_wrap:hover>img{transform:scale(1.5);-webkit-transform:scale(1.5);-moz-transform:scale(1.5);-ms-transform:scale(1.5);}
.gallery_wrap.select:hover>img{transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);}
.gallery_img_des{position: absolute;top: 50%;left: 0px;width: 100%;text-align: center;margin-top: -20px;}
.gallery_img_des>h4{text-transform: uppercase;font-weight: 600;font-size: 26px;text-shadow:-3px 1px 2px rgba(0,0,0,0.8);}
.gallery_wrap.select .gallery_img_des>h4{color: #f6921e;}
.read_more{text-align: center;margin-top: 30px;}
.read_more>a{display: inline-block;border: 2px solid #f6921e;text-transform: uppercase;font-weight: 600;background-color: rgba(0,0,0,0.5);color: #ffffff;padding: 11px 25px;font-size: 17px;border-radius: 30px;}
.read_more>a:hover{background-color: #f6921e;}
/*
          ==============================================================
                   Products Wrap Style
          ==============================================================
*/
.product_wrap{text-align: center;cursor: pointer;}
.product_wrap.select:after{background:rgba(255, 255, 255, 0.3);position:absolute;top:-5%;left:-10%;content:'';z-index:-1;width:120%;height:110%;}
.product_wrap.select::after {background:rgba(255, 255, 255, 0.2);-webkit-box-shadow:0 0 20px 0 rgba(255, 255, 255, 0.8);-moz-box-shadow:0 0 20px 0 rgba(255, 255, 255, 0.8);box-shadow:0 0 20px 0 rgba(255, 255, 255, 0.8);
                             content:"";height:110%;left:-5%;position:absolute;top:-5%;width:110%;z-index:-1;}
.product_wrap.select{border: 0 none;/*padding:10px;*/position:relative;z-index:10;}
.product_wrap>img{width: auto;height: auto;}
.product_wrap:hover>img {transform: scale(1.1);-moz-transform: scale(1.1);-webkit-transform: scale(1.1);}
.product_wrap>h4{font-size: 28px;font-weight: 600;font-family: 'Raleway', sans-serif;position: relative;padding: 0px 0px 10px;}
.product_wrap>h4:before{content: "";position: absolute;bottom: 0px;background-color: #000000;width: 40px;height: 3px;left: 0px;right: 0px;margin: auto;}
.product_wrap>p{font-size: 16px;}
.product_wrap>a{border: 2px solid #000000;color: #000000;text-transform: uppercase;font-weight: bold;padding: 10px 50px;display: inline-block;font-size: 18px;}
.product_wrap>a:hover{background-color: #000000;color: #ffffff;}
.more_product{text-align: center;margin-top: 30px;}
.more_product>a{border: 2px solid #000000;color: #000000;text-transform: uppercase;font-weight: bold;padding: 11px 50px 10px;display: inline-block;font-size: 18px;border-radius: 30px;}
.more_product>a:hover{background-color: #000000;color: #ffffff;}
.product_wrap:hover>img{transform:scale(1.1);-moz-transform:scale(1.1);-webkit-transform:scale(1.1);}
.product_wrap.select:hover>img{transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);}
/*
          ==============================================================
                   Products Range Wrap Style
          ==============================================================
*/
.product_tab1{width: 130px;height: 130px;border: 2px solid #f6921e;text-align: center;padding-top: 15px;margin-top: 20px;}
.product_tab1>img{width: auto;height: auto;}
.product_tab1>h5{font-size: 20px;color: #f6921e;margin-top: 15px;}
.product_tab1:hover{background-color: #f6921e;}
.product_tab1.select{background-color: #f6921e;}
.product_tab1:hover>h5{color: #ffffff;}
.product_tab1.select>h5{color: #ffffff;}
.gt_product_range .product_tab1:nth-child(1){float: left;}
.gt_product_range .product_tab1:nth-child(2){float: right;}
.range_des>p{font-size: 16px;}
.range_slider>span{text-align: center;font-size: 16px;font-weight: 600;width: 100%;float: left;}
.range_slider>span>div{display: inline-block;}
.range_slider>span:hover{color:#fff;cursor:pointer;transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out}
.range_slider_wrap .nstSlider{background-color: transparent;border: 1px solid #f6921e;width: 100%;}
.range_slider_wrap .bar{height: 4px;top: 7px;}
.range_slider_wrap .nstSlider .rightGrip,
.range_slider_wrap .nstSlider .leftGrip{width:15px;height:15px;top: 1px; background-color: #f6921e;}
.gt_sec_close_btn{cursor:pointer;}
.rightLabel_range{width: 5%;text-align: center;float: left;}
.leftGrip{display: none;}
.range_slider_wrap .nstSlider{float: left;width: 90%;text-align: center;}
.range_slider_wrap .leftLabel{float: left;width: 5%;}
.range_slider_wrap .rightLabel{float: right;width: 5%;text-align: center;}
.link_list_wrap{text-align: center;}
.link_list_wrap>ul{width: 100%;text-align: center;}
.link_list_wrap>ul>li{display: inline-block;text-align: center;border: 1xp solid #ffffff;color: #ffffff;font-weight: 600;font-size: 16px;padding: 0px 10px;}
.link_list_wrap>ul>li>a{display: inline-block;border: 2px solid #ffffff;color: #ffffff;font-weight: 600;font-size: 14px;padding: 3px 10px;text-transform: uppercase;cursor: context-menu;}
.link_list_wrap>ul>li a:hover{color: #f6921e;border-color: #f6921e;}
.link_list_wrap>a{display: inline-block;border: 2px solid #ffffff;color: #ffffff;font-weight: 600;font-size: 18px;padding: 10px 30px;border-radius: 30px;}
.link_list_wrap>a:hover{color: #f6921e;border-color: #f6921e;}
/*
          ==============================================================
                PopUp Heading Style
          ==============================================================
*/
.bg_white{display: inline-block;position:relative;vertical-align:top;}
.bg_white>button.modal_close,.bg_white>button.close{position: absolute;top: 10px;right: 5px;background-color: #000000;border-radius: 100%;width: 25px;height: 25px;color: #f6921e;z-index: 10;opacity: 1;text-shadow:none;font-size: 20px;font-weight: bold;line-height: 23px;}
.popup_heading{padding: 20px 0px;}
.popup_title{font-weight: bold;text-transform: uppercase;}
.popup_title.small-title{font-size: 20px;}
.popup_sub_hdg>p{font-size: 16px;font-weight: 600;}
.popup_field>input[type="text"]{height: 42px;border: 1px solid #dadada;border-radius: 0px;}
.popup_field>input[type="password"]{height: 42px;border: 1px solid #dadada;border-radius: 0px;}
.popup_field>select{height: 42px;border: 1px solid #dadada;border-radius: 0px;color: #000000; opacity: 1;font-weight: 600;font-size: 16px;}
.popup_field>textarea{height: 120px;border: 1px solid #dadada;border-radius: 0px;}
.contact_textarea{height: 180px;}
.product_form>a{background:#f6921e;display: inline-block;border: 2px solid #f6921e;border-radius: 30px;padding: 8px 40px;text-transform: uppercase;color: #ffffff;transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;font-weight: 600;}
.product_form>a:hover{border-color: #f6921e;background-color: #f6921e;}
.footor_heading{padding: 4px;background: #f6921e;}

.forget_model{width: 350px;display: block;float:left;}
/*
          ==============================================================
                 Hows Work Style 
          ==============================================================
*/
.hows_work_wrap{text-align: center;}
.hows_work_wrap>img{width: auto;height: auto;}
.gt_res_work{text-align: center;}
.work_number{width: 40px;height: 40px;border-radius: 100%;font-size: 25px;font-weight: bold;color: #ffffff;margin: auto auto 20px;display: block;border: 3px solid #f6921e;background-color: #f6921e;line-height: 33px;}
.gt_res_work>span{width: 130px;height: 130px;border: 2px solid #f6921e;border-radius: 100px;display: inline-block;text-align: center;line-height: 130px;margin-bottom: 15px;}
.gt_res_work>span>img{width: 70px;height: 70px;}
.gt_how_work_resp{display: none;}
.gt_res_work:hover >span{background-color:#f6921e; }
/*
          ==============================================================
                Product List Style 
          ==============================================================
*/
.gt_product_list_wrap{width: 100%;float: left;position: relative;height: 675px;overflow: auto;}
.gt_product_list{background-color: rgba(0,0,0,0.4);border: 2px solid #000000;float: left;width:98%;position: relative;}
.gt_product_img{
    width:25%;float: left;height:180px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.gt_product_price,.gt_product_price,.gt_product_cart_btn{width:25%;text-align: center;float: left;}
.gt_product_img{ /*background-color: #ffffff;*/}
.gt_product_img>img{width: 100%;height: 100%;max-height: 180px;padding-left: 30px;padding-right: 30px;}
.gt_product_img>a>img{width: 100%;height: 100%;max-height: 180px;padding-left: 30px;padding-right: 30px;}
.gt_product_img>a{width: 100%;height:100%;max-height: 180px;}
.gt_product_price{padding-top: 5%;}
.gt_product_price>h5{font-size: 14px;}
.gt_product_price>h4{font-size: 33px;font-weight: bold;text-overflow: ellipsis;overflow: hidden;}
.gt_product_price>h4>a{font-size: 33px;font-weight: bold;text-overflow: ellipsis;overflow: hidden;}
.gt_product_cart_btn{padding-top: 7%;}
.gt_product_cart_btn>a{display: inline-block;border: 2px solid #f6921e;font-size: 16px;color: #ffffff;text-transform: uppercase;padding: 10px 50px;border-radius: 30px;background-color: rgba(0,0,0,0.6);position: relative;line-height: 26px;font-weight: 600;}
.gt_product_cart_btn>a:before{content: "\f270";font-family: fontawesome;color: #ffffff;right: 10px;top: 10px;width: auto;height: auto;position: absolute;}
.gt_product_cart_btn>a:hover{background-color: #f6921e;}
.gt_product_list>button.close{position: absolute;top: 16px;right: 10px;background-color: #f6921e;border-radius: 100%;width: 25px;height: 25px;color: #000000;z-index: 10;opacity: 1;text-shadow:none;}
/*
          ==============================================================
                Login Pop up Style 
          ==============================================================
*/
.login_popup{width: 350px;}
.remember_wrap{float: left;width: auto;line-height: 14px;text-align: center;}
.remember_wrap input[type="checkbox"] {display:none;}
.remember_wrap label{color: #000000;cursor: pointer;margin: 0px;font-weight: bold;}
.remember_wrap input[type="checkbox"] + label span {width:11px;height:11px;margin:0px 12px 0 0;border:2px solid #50535c;cursor:pointer;margin-top: 2px;font-weight:bold;position: relative;display: inline-block;}
.remember_wrap input[type="checkbox"]:checked + label span:before {content: "";position: absolute;top: -7px;left: -1px;z-index: 5;background-image: url(../images/check.png);background-repeat: no-repeat;background-size: 100%;background-position: center;width: 15px;height: 15px;}
.forget_password{float: left;width: auto;border-left: 2px solid #000000;padding-left: 10px;margin-left: 10px;line-height: 14px;}
.forget_password>a{color: #000000;cursor: pointer;margin: 0px;font-weight: bold;}
.gt_or_wrap>span{background-color: #ffffff;display: inline-block;font-size: 16px;font-weight: 600;position: relative;padding:0px 10px;color: #000000;}
.gt_or_wrap:before{content: "";position: absolute;top: 50%;left: 0px;right: 0px;width: 100%;height: 2px;background-color: #dadada;}
/*
          ==============================================================
                   Products Tab Panels Wrap Style
          ==============================================================
*/
.product_reviews{margin-top: -12px;}
.tab_popup_width .bg_white{display: inline-block;width: 100%;}
.tab_popup_width{width: 75%;}
.res_tab_icon{display: none;font-size: 30px;color: #000;}
.gt_tab_link{float: left;width: 30%;position: relative;}
.gt_tab_link>ul{float: left;width: 100%;text-align: left;}
.gt_tab_link>ul>li{width: 100%;float: left;position: relative;border-bottom: 1px solid #dadada;}
.gt_tab_link>ul>li:before{content: "";position: absolute;top: 0px;right: -12px;width: 0; height: 0; border-top: 25px solid transparent;border-bottom: 25px solid transparent;border-left: 12px solid #000000;z-index: 10;opacity: 0;}
.gt_tab_link>ul>li.active:before,.gt_tab_link>ul>li:hover:before{opacity: 1;}
.gt_tab_link>ul>li>a{display: block;color: #000000;text-transform: uppercase;font-weight: 600;font-size: 14px;padding: 15px 10px;}
.gt_tab_link>ul>li>a>span{display: inline-block;line-height: normal;}
.gt_tab_link>ul>li.active{border-bottom: 1px solid #000000;}
.gt_tab_link>ul>li.active a i{color: #ffffff;}
.gt_tab_link>ul>li.active>a,.gt_tab_link>ul>li:hover>a{background-color: #000000;color: #ffffff;}
.tab_popup_des{float: left;width: 70%;border-left: 1px solid #dadada;padding: 15px 45px;min-height: 630px;text-align: left;}
.popup_field_label>span{font-size: 15px;color: #000000;text-transform: capitalize;font-weight: 600;margin-top: 5px;display: block;}
.popup_account_token>a{display: inline-block;color: #ffffff;font-size: 14px;text-transform: uppercase;background-color: #db0000;padding: 10px 25px;border-radius: 30px;font-weight: 600;}
.popup_account_token>a:hover{background-color: #f6921e;}
.tab_popup_width .modal-body{min-height: 630px;}
.gt_product_list_wrap.gt_tab_product_list{width: 70%;padding: 15px;border-left: 1px solid #dadada;height: 630px;}
.gt_tab_product_list .gt_product_list{background-color: #ffffff;border: 1px solid #dadada;}
.gt_tab_product_list .gt_product_price>h4{font-size: 18px;}
.gt_tab_product_list .gt_product_cart_btn>a{padding: 5px 25px 5px 25px;font-size: 14px;background-color: #ffffff;color: #000000;}
.gt_tab_product_list .gt_product_cart_btn>a:hover{background-color: #f6921e;}
.gt_tab_product_list .gt_product_cart_btn{padding-top: 8%;}
.gt_tab_product_list .gt_product_img{border-right: 1px solid #dadada;}
.date{background-color: #000000;padding: 5px 10px;color: #ffffff;position: absolute;top: 5px;right: -5px;display: inline-block;}
.date:before{content: "";position: absolute;bottom: -5px;right: 0px;width: 0; height: 0; border-top: 5px solid #333333; border-right: 5px solid transparent;}
/*
       ==============================================================
                Buyer Description Style
       ==============================================================
*/
.buyer_tab_outer_wrap{width: 70%;float: left;border-left: 1px solid #dadada;padding: 15px;height: 630px;overflow: auto;}
.tab_product_buyer_wrap{border: 1px solid #dadada;width: 100%;float: left;}
.buyer_product_img{width: 25%;float: left;border-right: 1px solid #dadada;min-height: 198px;padding: 10px 0px;text-align: center;}
.buyer_product_img>img{width: auto;height: auto;max-height: 178px;}
.buyer_product_des{width: 75%;float: left;padding: 15px;text-align:left;}
.buyer_name{width: 60%;float: left;}
.buyer_name>img{width: 30px;height: 30px;float: left;}
.buyer_name>img.user_rank_img {width: 45px;height: 45px;}
.buyer_name>p{display: inline-block;font-size: 16px;margin: 5px 0px 0px 5px;}
.product_gradiant{float: left;width: 40%;}
.product_gradiant>ul{width: auto;float: right;}
.product_gradiant>ul>li{display: inline-block;position: relative;font-size: 13px;color: #000000;text-align: center;}
.product_gradiant>ul>li>span{display: block;}
.buyer_des>p{color: #000000;font-size: 14px;}
.product_rating{width: 70%;float: left;}
.product_rating>ul{width: 100%;float: left;}
.product_rating>ul>li{display: inline-block;position: relative;text-align: center;}
.product_rating>ul>li>span,.product_rating>ul>li>p{font-size: 10px;color: #000000;}
.product_rating>ul>li>span{display: block;margin-bottom: 3px;font-size: 12px;}
.product_rating>ul>li>i{font-size: 14px;display:inline-block;vertical-align:top;margin:0;}
.product_rating>ul>li>p{margin:0;vertical-align:top;display:inline-block;font-size:14px;}
/*
          ==============================================================
                   Buyer Range Tab Style
          ==============================================================
*/
#tab4 .buyer_tab_outer_wrap{height: auto;overflow: hidden;}
.tab4_scroll{height: 558px;overflow-y:scroll;}
.top_range_hdg_bg{background-color: #000000;border-bottom: 2px solid #f6921e;padding: 10px 10px 10px 0px;}
.top_range_hdg{text-transform: uppercase;font-weight: bold;text-align: center;font-weight: 24px;}
.tab_range_des_bg{border-bottom: 1px solid #dadada;border-left: 1px solid #dadada;border-right: 1px solid #dadada;padding-bottom: 10px;}
.tab_range_rank{width: 5%;float: left;position: relative;color:#f6921e;font-size: 30px;font-weight: 700; }
.tab_range_img{width: 15%;float: left;position: relative;}
.tab_range_name{width: 20%;float: left;position: relative;}
.tab_range_points,.tab_range_des{width: 30%;float: left;position: relative;}
.tab_range_img{text-align: center;padding-top: 4%;}
.tab_range_img>img{vertical-align: middle;}
.tab_range_name{padding-top: 8%;font-size: 16px;text-transform: uppercase;font-weight: 600;text-align: center;}
.tab_range_points>ul{width: 100%;float: left;}
.tab_range_points>ul>li{width: 100%;color: #000000;float: left;margin-top: 5px;padding-left: 10px;position: relative;}
.tab_range_points>ul>li:before{content: "";position: absolute;top: 6px;left: -4px;width: 8px;height: 8px;border-radius: 100%;background-color: #f6921e;}
.tab_range_des_bg:hover{background-color: #000000;}
.tab_range_des_bg:hover .tab_range_des>p,.tab_range_des_bg:hover .tab_range_points>ul>li,.tab_range_des_bg:hover .tab_range_name{color: #ffffff;}
.tab_range_des_bg.active{background-color: #000000;}
.tab_range_des_bg.active .tab_range_des>p,.tab_range_des_bg.active .tab_range_points>ul>li,.tab_range_des_bg.active .tab_range_name{color: #ffffff;}

/*
          ==============================================================
                   Seperate Product Page Tab Style
          ==============================================================
*/
.placeholder_img{border: none !important}
.gt_s_product_bg.default_width.mb20 {
    margin-bottom: 25px;
}
.gt_s_product_bg_section{padding: 140px 0px 110px;}
.s_product_img{/*padding: 25px;*/border: 4px solid #f6921e;text-align: center;height:245px;}
.active_product .s_product_img{width:280px;margin-left:-8px;border:4px solid #000;}
.s_product_img>img,.s_product_img>a>img{    
    position: relative;
    max-width: 100%;
    max-height: 252px;
    top: 0px;
    left: 0;
    right: 0px;
    bottom: 0px;
    margin: auto;
    height: 100%;
    width: 100%;
}
.listing_product_image{
    position: relative;
    max-width: 100%;
    max-height: 252px;
    top: 0px;
    left: 0;
    right: 0px;
    bottom: 0px;
    margin: auto;
    margin: auto;
    height: 100%;
    width: 100%;
}
.number{font-weight: bold;font-size: 45px;position: absolute;top: -30px;left: -30px;bottom: 0px;margin: auto;width: 15px;height: 15px;}
.s_title{font-weight: bold;text-align: center; font-size:24px;}
.s_progress>span{float: none;width:22%;font-size: 14px; font-weight: bold; display: inline-block;    vertical-align: middle;    white-space: normal;    word-wrap: break-word;text-align:left;}
.s_progress>p{font-size: 12px;width:5%;float: none;line-height: normal;text-align:right;    display: inline-block;    vertical-align: middle;   /* width: auto;*/    padding: 0 5px;    min-width: 25px;}
.s_progress .progress{float: none; display: inline-block;    vertical-align: middle;width:71%;border: 1px solid #f6921e;padding: 3px;border-radius: 50px;background-color: transparent;border-radius: 50px;height: 15px;margin: 0px;}
.s_progress .progress-bar{background-color: #f6921e;border-radius: 50px;}
.s_price_wrap{margin-left:0;}
.s_product_link{text-align: center;}
.s_product_link>span{font-size: 38px;font-weight: bold;display: block;}
.s_product_link>a{display:block;border: 2px solid #f6921e;text-transform: uppercase;font-weight: 600;background-color: rgba(0,0,0,0.5);color: #ffffff;padding: 11px 15px;
                  font-size: 17px;border-radius: 30px;position:relative;}
.s_product_link>a:nth-child(3):before{content:"";position:absolute;top:15px;right:12px;width:15px;height:15px;background-image: url(../images/amazon1.png);background-size: 100%;}
.active_product .s_product_link>a:nth-child(3):before{background-image: url(../images/amazon2.png);}
.s_product_name .link_list_wrap>ul>li>a:hover{border-color: #ffffff;color: #ffffff;}
.active_product .s_product_link>a:nth-child(3):hover:before{background-image: url(../images/amazon-3.png);}
.s_progress.default_width.mb10{text-align: center;}
/*Hover*/
.s_product_link>a:hover{background-color: #f6921e;}
/*.gt_s_product_bg:before{background-color: #f6921e;}*/
.active_product .number{color: #000;}
.active_product .s_progress .white{color: #000;font-weight: bold;}
.active_product .link_list_wrap>ul>li>a{border-color: #000;color: #000;}
.active_product .link_list_wrap>ul>li>a:hover{border-color: #000;color: #000;}
.active_product .s_progress .progress{border-color: #000;}
.active_product .s_progress .progress-bar{background-color: #000;}
.active_product .s_product_link>span{color: #000;}
.active_product .s_product_link>a{background-color: transparent;border: 2px solid #000;color: #000;}
.active_product .s_product_img>img{height: 250px;max-width: 100%;}
.active_product{margin-bottom:25px;padding:25px 0;}
.active_product .s_product_link>a:hover{background:#000;color:white;}
.s_product_name .s_title{font-size:30px;}
/*
          ==============================================================
                   Seperate Product Page Tab Style
          ==============================================================
*/
.gt_tab_page_padding{padding: 100px 0px 30px;}
/*
          ==============================================================
                   How work 2 Style
          ==============================================================
*/
.gt_how_work{min-height: 220px;}
.work_width{width: 220px;position: absolute;}
.work_hdg{font-size: 18px;text-transform: uppercase;font-weight: bold;}

.gt_work1{position: absolute;left: -10px;top: -250px;}
.gt_work2{left: 15%;top: -40px;}
.gt_work3{left: 40%;top: 30px;}
.gt_work4{right: 14%;top: -40px;}
.gt_work5{right: -5px;top: -120%;}
/*
          ==============================================================
                   How work 2 Style
          ==============================================================
*/
.gt_sec_close_btn{position: absolute;top:0px;right: 5px;width: 25px;height: 25px;z-index: 10;opacity:0.5;transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;}
.gt_sec_close_btn:hover{opacity:1}

/*
          ==============================================================
                   Popup Style
          ==============================================================
*/
.gt_forget_wrap.gt_reg_pop_check{width: 100%;text-align: center;}
.gt_reg_pop_check .remember_wrap{width: 100%;}
.about_us_overlay:before{content: "";position: absolute;top: 0px;left: 0px;width: 100%;/*height: 100%;*/height: auto;background-color: rgba(0,0,0,0.3);}
.gt_thankyou_bg{min-height: 100vh;}
.modal-dialog.login_popup{top: 22%;}
.modal-dialog.tab_popup_width{top: 12%;}

.gt_forget_wrap{font-size: 13px;}
.gt_regitration_ext{cursor: pointer;}

.range_main_hdg>h4{font-size: 34px;}
.responsive_hdg_show{display: none;}
.forget_password_again{cursor: pointer;}
/*
          ==============================================================
                   Product X Page Style
          ==============================================================
*/
.product_between{background-color: rgba(0,0,0,0.6);border:3px solid #f6921e;padding:15px 5px;margin-top:25px;/*margin-top:20px;*/min-height:448px;}
.rating_star{width: 100%;display: block;float: left;}
.rating > span:hover:before {content: "\2605";position: absolute;}
.rating {  unicode-bidi: bidi-override;  direction: rtl;}
.rating > span:hover:before,
.rating > span:hover ~ span:before {content: "\2605"; position: absolute;}
.rating {  unicode-bidi: bidi-override;  direction: rtl;  font-size: 15px;font-weight: bold;width: 70%;float: left;}/*color:white; white color remove*/
.rating > span {  display: inline-block;  position: relative;  width: 1.1em;}
.rating > span:hover:before,
.rating > span:hover ~ span:before {   content: "\2605";   position: absolute; color:#f6921e;}
.rating_wrap{float: left;width:36%;}
.rating_wrap>p.title{font-size:12px;}
.rating_star .starrr{width:63%;float:left;}
.product_between .review_scroll {background:transparent;border:0;height:100%;overflow:auto;width:100%;}
.rating_star .starrr span{margin:0 0 0 2px;color:#666;}
.rating_star .starrr span.glyphicon:hover,
.rating_star .starrr span.glyphicon-star{color:#f6921e;}

.small_product{margin-top:10px;min-height: 68px;}
.small_product_img{width:30%;float: left;background-color: rgba(0,0,0,0.0);text-align: center;margin:0;padding:0;border: 3px solid #f6921e;/*margin-left: 2%;*/min-height: 70px;position: relative;    margin-right: 4.7%;}
.small_product_img:nth-child(3) {
    margin-right: 0;
}
.small_product_img:first-child{margin-left: 0;}
.small_product_img img{position: absolute;width:100%;height:100%;top: 0px;left: 0;right: 0px;bottom: 0px;margin: auto;}
.gt_x_product_wrap{margin-top: 50px;}
.gt_between_drop{background-color: rgba(0,0,0,0.6);padding: 5px;margin-top: 15px;}
.gt_between_drop .rating_wrap{width: 60%;}
.rating_wrap>p{margin-bottom: 0px;font-size: 16px;font-weight: bold;}
.gt_between_flavor{float: left;width: 40%;}
.gt_between_flavor>select{width: 100%;background-color: transparent;border: 1px solid #f6921e;color: #ffffff;float: left;outline: none;border: 0px;height: 20px;padding: 0px;font-size: 16px;}
.gt_between_flavor>select>option{background-color: #000;outline: none;}
.gt_between_textarea{margin-top: 15px;}
.gt_between_textarea>textarea{width: 100%;background-color: rgba(0,0,0,0.4);border: 0px;height: 104px;padding: 10px;resize: none;}
.gt_between_textarea>a{border-radius: 30px;font-size: 18px;padding: 11px 15px 10px;display: block;background-color: rgba(0,0,0,0.4);color: #ffffff;font-weight: 600;/*text-transform: capitalize;*/border: 2px solid#f6921e;text-align: center;}
.gt_between_textarea>a:hover{background-color: #f6921e;}
.gt_x_product_tab{border-bottom: 2px solid #000000;margin-bottom: 35px;}
.gt_x_product_tab>ul{float: left;width: 100%;}
.gt_x_product_tab>ul>li{float: left;width: auto;}
.gt_x_product_tab>ul>li>a{display: block;padding: 5px 8px;color: #ffffff;font-size: 15px;font-weight: 600;background-color: rgba(0,0,0,0.3);}
.gt_x_product_tab>ul>li:first-child>a{border-top-left-radius: 5px;}
.gt_x_product_tab>ul>li:last-child>a{border-top-right-radius: 5px;}
.gt_x_product_tab>ul>li:hover>a,.gt_x_product_tab>ul>li.active>a{background-color: #f6921e;}
.gt_x_product_list .buyer_des>p{color: #ffffff;font-size: 16px;}
.gt_x_product_list .product_rating>ul>li>span, .gt_x_product_list .product_rating>ul>li>p{color:#fff;}
.gt_x_product_list .product_rating>ul>li{width: 14%}
.gt_x_product_list .product_gradiant>ul>li{color: #ffffff; font-size: 14px;}
.gt_x_product_list .tab_product_buyer_wrap{border-color: transparent;background-color: rgba(0,0,0,0.4);}
.gt_x_product_list .buyer_product_des{width: 100%;height: auto;}
.gt_x_product_scroll{max-height:450px;float: left;width: 100%;}
.product_rating>ul li p{margin:0;display:inline-block;vertical-align:top;line-height:24px;}
.product_gradiant ul li{margin-right: 14px;}
.gt_product_like{width: 30%;float: left;padding-top: 10px;}
.gt_product_like>ul{float: left;width: 100%;text-align: right;}
.gt_product_like>ul>li{display: inline-block;position: relative;margin-left: 15px;}
.gt_product_like>ul>li>img{display: block;margin-bottom: 4px;margin-left: 10px;}
.gt_product_like>ul>li>p{margin-right: 0px;margin-top: -15px;margin-bottom: 0px;font-size: 14px;color: #ffffff;float: left;}
.addproduct{width:30%;}
.back-btn{display: inline-block;border: 2px solid #f6921e;text-transform: uppercase;font-weight: 600;background-color: rgba(0,0,0,0.5);color: #ffffff;padding: 11px 25px;font-size: 18px;border-radius: 30px;position: relative;}
.back-btn:hover{background-color: #f6921e;}
.title_wrap .title:after{clear:both;display:block;content:'';}
.title_wrap .title .back-btn{float:right;}
.link_list_wrap>ul>li>a{min-width:100px;}
.gallery_wrap_bg .link_list_wrap>ul>li>a{margin:0 0 5px;cursor:pointer;}
.gt_x_product_list .tab_product_buyer_wrap{background-color: rgba(0,0,0,0.6);}
.product_rating>ul>li{margin:0 15px 0 0;}
.product_rating>ul>li:last-child{margin:0;}
.short{margin:0 0 10px;text-align:right;}
.bg_white>button.modal_close, .bg_white>button.close{font-size:18px;line-height:0;}
.description textarea{resize:none;}
.alert-danger strong{color:#a94442;}
.placeholder{opacity:0.5;}
.placeholder .s_product_img{border-color:#aaa;}
.placeholder .s_product_name .s_title{font-size:0;line-height:42px;position:relative;}
.placeholder .s_product_name .s_title:after{content:'';position:absolute;left:50%;top:0;background:#ccc;max-width:300px;width:100%;border-radius:50px;transform:translate(-50%,0);height:30px;}
.placeholder .link_list_wrap>ul>li>a{background:#ccc;border-color:#ccc;font-size:0;line-height:20px;border-radius:5px;}
.placeholder .s_progress>span{background: #ccc;border-radius: 20px;line-height: 20px;font-size: 0;}
.placeholder .s_progress .progress{background: #ccc;border-color: #ccc;height: 20px;}
.placeholder .s_progress .progress-bar{background-color: #aaa;}
.placeholder .s_progress>p{background: #ccc;height: 20px;border-radius: 20px;font-size: 0;}
.placeholder .s_title{color:#ccc;}
.placeholder .s_product_link>span.theme_color{color:#ccc;}
.placeholder .s_product_link>a{line-height:24px;background:#ccc;border-color:#ccc;font-size:0;}
.placeholder .s_product_link>a:hover{line-height:24px;background:#ccc;border-color:#ccc;font-size:0;}
.placeholder .s_product_link>a:nth-child(3):before{display:none;}


/*|-------------------------------------------------------------
  | Custom Narola CSS
  |-------------------------------------------------------------
*/
.product_form .btn_register{background:#f6921e;display: inline-block;border: 2px solid #f6921e;border-radius: 30px;padding: 8px 40px;text-transform: uppercase;color: #ffffff;transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;font-weight: 600;}
.product_form .btn_register:hover{border-color: #f6921e;background-color: #f6921e;}
.btn_home_page_submit{display: inline-block;border: 2px solid #ffffff;color: #ffffff;font-weight: 600;font-size: 18px;padding: 11px 30px 10px;border-radius: 30px;background-color:rgb(8, 12, 13);transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;}
.btn_home_page_submit:hover{color: #f6921e;border-color: #f6921e;}
.custom_loader{padding:5px 0 0 16px;}
.login_wrap a{display: block;}
.red_color{color:red;}
/*.login_wrap>.open>a, .login_wrap>.open>a:focus, .login_wrap>.open>a:hover{background:none;color:#fff;}*/
.login_wrap .dropdown-menu{border-radius:0;border:none;background:rgba(0,0,0,0.8);left:inherit;left:0;top:50px;}
.login_wrap .dropdown-menu>li{border-bottom:solid 1px rgba(255,255,255,0.1);}
.login_wrap .dropdown-menu>li:last-child{border-bottom:none;}
.login_wrap .dropdown-menu>li>a{line-height:30px;/*text-transform:uppercase;*/color:#fff;letter-spacing:1px;}
.login_wrap .dropdown-menu>li>a:hover{background:#f6921e;color:#ffffff;}
.login_wrap .dropdown-menu>li.divider{margin:0;}
.forgot_pwd_btn{background:#f6921e;display: inline-block;border: 2px solid #f6921e;border-radius: 30px;padding: 8px 40px;text-transform: uppercase;color: #ffffff;transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;font-weight: 600;}
.forgot_custom_loader{padding:5px 0 0 5px;}
.product_form_update_email_btn{background:#f6921e;display: inline-block;border: 2px solid #f6921e;border-radius: 30px;padding: 8px 40px;text-transform: uppercase;color: #ffffff;transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;font-weight: 600;}
.custom_form_error{color:red;}
input.custom_form_error{border:2px solid red !important;}
.header_r{float:right;margin:0 67px 0 25px;}
.error_color{color:#a50606;}
.disable_section:after{background:rgba(56, 54, 54, 0.75);content:'';width:100%;height:100%;position:absolute;top:0;left:0;z-index:999;}
.disable_section{position:relative;}
.disable_section.active:after{display:none;}
//section.disable_section{padding:15px 0px;}
//.read_more_btn_div{margin-top:-10px;}
.ui-pnotify.ui-pnotify-fade-normal.ui-pnotify.ui-pnotify-move{display:block !important;position:absolute;top:25px;right:25px;z-index:100;border-radius:2px;padding:10px;}
.disabled_cursor{cursor:no-drop;}
.pointer_cursor{cursor:pointer;}
textarea.custom_form_error{border:2px solid red !important;}
select.custom_form_error{border:2px solid red !important;}
.user_review_like_txt{font-size: 10px !important;color: #000000 !important;}
.secondary_property_select{color:#f6921e;border-color:#f6921e;}
.product_tab1 .select{background-color: #f6921e}
.product_tab1 .select>h5{color: white}
.link_list_wrap .select{color: #f6921e;border-color: #f6921e;}
.cat_img_goal{height:270px;margin:0 0 20px;}
.cat_img_goal img{margin:0;}
.cat_img_goal img {margin: 0;max-height:240px;position:relative;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);}
.product_wrap .cat_img_goal img{margin:0;}
.product_wrap .cat_img_goal img {margin: 0;max-height:240px;position:relative;top:inherit;-webkit-transform:inherit;-moz-transform:inherit;transform:inherit;}
.product_wrap:hover .cat_img_goal img{transform: scale(1.1);-moz-transform: scale(1.1);-webkit-transform: scale(1.1);}
#send_thank_you {cursor: pointer;}
#thank_you_content_lbl{margin-left: 15%; width: 70%;}
button.close span{font-size:24px;left:0.3px;line-height:8px !important;position:relative;top:0.5px;}
.hows_work{background-size:conver;}
.search_form input[type="search"]{    vertical-align: top;    background-color: transparent;}
#contact_us.modal {text-align: center;padding: 0!important;}
//-- Hide placeholder on focus
/* fadeouts of placeholder in focus */
input::-webkit-input-placeholder       {opacity: 1;}
input::-moz-placeholder                {opacity: 1;}
input:-moz-placeholder                 {opacity: 1;}
input:-ms-input-placeholder            {opacity: 1;}
input:focus::-webkit-input-placeholder {opacity: 0;}
input:focus::-moz-placeholder          {opacity: 0;}
input:focus:-moz-placeholder           {opacity: 0;}
input:focus:-ms-input-placeholder      {opacity: 0;}

textarea::-webkit-input-placeholder       {opacity: 1;}
textarea::-moz-placeholder                {opacity: 1;}
textarea:-moz-placeholder                 {opacity: 1;}
textarea:-ms-input-placeholder            {opacity: 1;}
textarea:focus::-webkit-input-placeholder {opacity: 0;}
textarea:focus::-moz-placeholder          {opacity: 0;}
textarea:focus:-moz-placeholder           {opacity: 0;}
textarea:focus:-ms-input-placeholder      {opacity: 0;}
/*textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}*/

/*Adjust contact us modal*/
#contact_us.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

#contact_us .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

//--Secondary properties selection change
#sec_properties_div>ul{width: 100%;text-align: center;}
#sec_properties_div>ul>li{display: inline-block;text-align: center;border: 1xp solid #ffffff;color: #ffffff;font-weight: 600;font-size: 16px;padding: 5px 10px;}
#sec_properties_div>ul>li>a{display: inline-block;border: 2px solid #ffffff;color: #ffffff;font-weight: 600;font-size: 14px;padding: 3px 10px;text-transform: uppercase;cursor: context-menu;}
#sec_properties_div>ul>li a:hover{color: #f6921e;border-color: #f6921e;}
#sec_properties_div>a{display: inline-block;border: 2px solid #ffffff;color: #ffffff;font-weight: 600;font-size: 18px;padding: 10px 30px;border-radius: 30px;}
#sec_properties_div>a:hover{color: #f6921e;border-color: #f6921e;}
#sec_properties_div>ul>li>a{min-width:100px;}
.gallery_wrap_bg #sec_properties_div>ul>li>a {margin: 0 0 5px;cursor: pointer;}
#sec_properties_div>ul>li a.select{color: #f6921e !important;border-color: #f6921e !important;}
#send_contact_email:hover,
#btn_login:hover,
#btn_register:hover,
.social_media.pull-right a:hover,
.forgot_pwd_btn:hover,
.product_form_update_email_btn:hover,
.btn-hover-effect:hover{background: #fff;color: #000;}
.fakeloader_text{color: #fff;font-size: 14px;left: 50%;position: absolute;text-align: center;top: 45%;width: 400px;background: rgba(246, 146, 30, 0.8);padding: 45px 15px 15px;border-radius: 10px;transform: translate(-50%,0);}
.bg_white>button.modal_close, .bg_white>button.close{background: url(../images/close-02.png) center no-repeat;font-size: 0 !important;background-size: 22px;}

/*Center video popup*/
#youtube_modal.modal {
    text-align: center;
    padding: 0!important;
}

#youtube_modal.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

#youtube_modal>.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

@media(min-width:768px){
    .tab_range_des_bg{display: table;    padding-bottom: 0;}
    .tab_range_des_bg > div {float: none;display: table-cell;vertical-align: middle;padding: 5px 0;}
}
@media(min-width:1920px){
    .hows_work{
        min-height:1000px;
        /*min-height:auto;*/
    }
}
@media(max-width:1050px){
    .active_product .s_product_img{width: auto;}
}
@media(max-width:990px){
    .active_product .s_product_img{width: 280px;}
}
@media(min-width:1025px){
    #product_tab_view.modal.in .modal-dialog {    text-align: center;    left: 50%;   margin: 0;    position: absolute;    top: 15px;        width: 75%;    margin-left: -37.5%;}
    .popupContainer{top:50% !important;left:50% !important;margin:0 !important;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);transform:translate(-50%, -50%);}
    /*    #contact_us.modal.in .modal-dialog {
            text-align: center;
            left: inherit;
            margin: 0;
            position: initial;
            top: inherit;
            width: inherit;
            margin-left: inherit;
        }*/
    #contact_us.modal.fade .modal-dialog {
        -webkit-transition: -webkit-transform .3s ease-out;
        -o-transition: -o-transform .3s ease-out;
        transition: transform .3s ease-out;
        -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
    }
    #contact_us .modal-dialog {
        vertical-align: inherit;
    }

}
/*fixed header move issue*/
body.modal-open {overflow: auto !important;padding-right: 0px !important;}
a.suggest_plink:hover {background: #f6921e none repeat scroll 0 0;}
//-- Removed transition event of popup
.modal.fade .modal-dialog{
    -webkit-transition: unset !important;
    transition: unset !important;
}
@media(max-width:1200px){
    .rating_star .starrr span{margin:0 0 0 0px;}
}
@media(min-width:992px) and (max-width:1024px){
    .product_wrap {text-align:left;}
    .product_wrap img{width:200px;}

}
@media(min-width:768px) and (max-width:991px){
    .product_margin_left {margin-left:0;}
    .product_wrap {min-height:485px;}
    .product_wrap > img { height:200px;}
    #home4 .product_wrap {min-height:inherit;}
    .s_product_name.default_width {padding:0;}
    .product_gradiant>ul>li{font-size: 12px;}
}

@media (max-width: 991px){
    header .login_wrap {float: none;width: 100%;margin-left: 0;padding: 0 10px 10px;}
    .navigation>ul{float: none;}
    .login_wrap .dropdown-menu{position: inherit;width: 100%;float: none;top:0;}
    .main_content{background-size:100% 100%;}
    .main_content {background-size: auto 100%;background-position:center 0;background-attachment:fixed;background-size:cover;}
    .hows_work.main_content{background-size: cover;background-position: 65% 0;}
    .rating_star .starrr span{margin:0 0 0 2px;}

}
@media(max-width:767px){
    .top_range_hdg_bg{display:none;}
    .tab4_scroll{border-top:solid 1px #ddd;}
    .s_product_name .s_progress{display:table;}
    .s_product_name .s_progress span{width:10%;display:table-cell;padding-right:10px;min-width:100px;float:none;}
    .s_product_name .s_progress .progress_wrapper{display:table-cell;vertical-align: middle;width: 75%}
    .s_product_name .s_progress p{display:table-cell;}
    .s_price_wrap.visible-xs{margin-top:20px;}
    .popup_title.small-title{font-size:18px;}
    .popupContainer{position:absolute !important;}
    .position-fixed{position:fixed;top:0;left:0;}
    .s_product_name.default_width {padding:0;}
    .title_wrap .title .back-btn {max-width: 130px;display: block;margin: 10px auto 0;float: none;}
    .s_product_name .flex_box{min-height: inherit;}
    .gt_product_img{height: 250px;}
    .gt_product_img>a{max-height: 250px;}
    .gt_product_img>a>img{width: 80%;height: 100%;max-height: 250px;padding-left: 0;padding-right: 0;}
    .gt_product_price>h4>a{font-size: 20px;}
    .gt_product_list>button.close{top:-15px;right:0;}
    body.disable_scroll{padding: 0}
}
@media(min-width:768px){
    .progress_wrapper{display: inline-block;width:71%;}
    .progress_wrapper .progress{width: 100%;}
}
@media(max-width:450px){
    .fakeloader_text{width: 280px;}
}


/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url(fancybox/fancybox_sprite.png);
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url(fancybox/fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url(fancybox/blank.gif); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: visible !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url(fancybox/fancybox_overlay.png);
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

#matching_loader{position: fixed;top: 0;bottom: 0;left: 0;right: 0;text-align: center;background: rgba(0,0,0,0.8);padding-top: 80px;z-index: 1111;}
#matching_loader .loader{position: absolute;top: 50%;left: 50%;-ms-transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
#matching_loader .loader img{max-width: 400px;}
#matching_loader #matching_perent_div{position: absolute;left: 50%;top: 50%;-ms-transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);color: #f6921e;font-weight: 700;}

.range-slide{display: table;width:100%;}
.range-slide .range-cell{display: table-cell;width: 5%;float: none;vertical-align: middle;}
.range-slide .range-cell.middel{width: 90%;float: none;border-radius: 20px;overflow: hidden;background: none;border: solid 1px #f6921e;padding: 5px 10px;}
.range-slide .range-cell:last-child{text-align: right;}
.range-slide .ui-widget.ui-widget-content{height: 10px;overflow: visible;background: none;border: none;}
.range-slide .ui-slider-horizontal .ui-slider-range{top: 3px;height: 4px;background: #fff;}
.range-slide .ui-slider-horizontal .ui-slider-handle{border-radius: 50%;top: 0px;background: #f6921e;border-color:#f6921e;height: 10px;width: 10px;margin-left: -5px;}
#home4 .tooltip.bottom{padding-top: 0;margin-top: 0;}
#home4 .tooltip.bottom .tooltip-arrow{display: none;}
/*#home4 .tooltip-inner{max-width: 300px;font-size: 11px;font-weight: 300;line-height: 13px;}*/
.navigation .cart_wrap{padding: 3px 10px;background: #000;right: 0;top: 0px;}
.search-btn{width: 40px;background:#f6921e;position: absolute;right: 10px;height: 36px;top: 0px;text-align: center;line-height: 36px;color:#fff;}

.top_range_hdg_bg .tab_range_des_bg{border:none;}
.top_range_hdg_bg .tab_range_name, .top_range_hdg_bg .tab_range_points, .top_range_hdg_bg .tab_range_des{color: #f6921e !important;font-size: 18px;font-weight: 600;text-transform: uppercase;}
.navigation>ul>li.login_btn{margin-right: 30px;margin-left: 10px;margin-top: 8px;margin-bottom: 0;}
.navigation>ul>li.login_btn:before, .navigation>ul>li.login_wrap:before{display:none;}
.navigation>ul>li.login_btn>a {margin: 0 !important;
                               text-align: center;font-size: 14px;
                               display: inline-block;
                               border: 1px solid #ffffff;
                               border-radius: 30px;
                               padding: 3px 12px;
                               text-transform: capitalize;
                               color: #ffffff;
                               transition: all 0.3s ease-in-out;
                               -moz-transition: all 0.3s ease-in-out;
                               -webkit-transition: all 0.3s ease-in-out;
}
.navigation>ul>li.login_wrap{margin: 6px 20px 0px 20px !important}
.navigation>ul>li.login_wrap:hover, .navigation>ul>li.login_wrap.active, .navigation>ul>li.login_btn:hover, .navigation>ul>li.login_btn.active{background: none;}

.gt_mobile_menu.toggle_remove{}
.gt_mobile_menu.toggle_remove span.icon-bar:nth-child(1){-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);margin-bottom: -13px;}
.gt_mobile_menu.toggle_remove span.icon-bar:nth-child(2){opacity: 0;}
.gt_mobile_menu.toggle_remove span.icon-bar:nth-child(3){-ms-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
#home4 #sec_properties_div>ul>li a:hover{color: inherit;border-color:inherit;}
@media(max-width:990px){.navigation>ul>li.login_btn{padding: 0 0 10px;}.navigation>ul>li.login_wrap{margin: 0!important}}
@media(max-width:767px){#searchbar {display: none;width: 100% !important;padding-top: 15px;}#modal_trigger{margin: 0;}.footer_bg{background:#3A3A3A;}
                        .list-bg{position: relative;background-image: url(../images/gallery-bg.jpg) !important;}
                        .list-bg:before{content: "";position: absolute;top: 0px;left: 0px;width: 100%;bottom:0;background-color: rgba(0,0,0,0.85);}
}
/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

    #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
        background-image: url(fancybox/fancybox_sprite@2x.png);
        background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
    }

    #fancybox-loading div {
        background-image: url(fancybox/fancybox_loading@2x.gif);
        background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
    }
}
@media(max-width:400px){
    #matching_loader .loader img{max-width: 300px;}
}

