@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7em88u');
  src:  url('../fonts/icomoon.eot?7em88u#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7em88u') format('truetype'),
    url('../fonts/icomoon.woff?7em88u') format('woff'),
    url('../fonts/icomoon.svg?7em88u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e900";
}
.icon-cogwheel:before {
  content: "\e904";
}
.icon-communication:before {
  content: "\e909";
}
.icon-favorite:before {
  content: "\e90f";
}

