

.tt-dataset {max-height:272px;overflow:auto;padding:15px;}
.tt-menu{background:#000;border:1px solid #2e2f30;width:350px;}
.tt-suggestion{padding:0 90px 15px 80px;position:relative;;margin:0 0 15px;border-bottom:1px solid #2e2f30;display:inline-block;vertical-align:top;width:100%;}
a.suggest_pimg{position:absolute;top:0;left:0;}
.suggest_pimg img {border:2px solid #f6921e;height:60px;width:60px;}
.suggest_pname 
p.supplement-name{color:#f6921e;line-height:60px;width:100%;font-size:15px;text-overflow:ellipsis;overflow:hidden;height:60px;white-space:nowrap;display:inline-block;vertical-align:top;margin:0;font-weight:700;text-transform: uppercase;}
p.supplement-name strong{color:#f6921e;font-weight:700; font-size:15px;}
a.suggest_plink{background:#000;border:2px solid #f6921e;-webkit-border-radius:40px;-moz-border-radius:40px;border-radius:40px;
                color: #fff;font-size:15px;font-weight:600;line-height:26px;position: absolute;right: 0;text-align:center;text-transform: uppercase;top:14px;width:80px;font-size:12px;font-weight:600;}
.suggest_plink a:hover{background:#f6921e;}
.search_form input[type="search"]{border-radius:40px;border:1px solid #fff;padding:3px 12px;line-height:20px;   }
.suggest_pname{display: inline-block;vertical-align: top;width: 100%;}

@media(max-width:767px){
    .tt-menu {max-width:350px;width: 100%;}
    .suggest_pname p.supplement-name {height: auto;line-height:30px;margin:0;}
    a.suggest_plink {display:block;height: 30px;line-height:26px;position: relative;right:0;top:0;  width:80px;}
    .tt-suggestion {min-height: 80px;padding: 0 0 15px 80px;}

}