@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
/*font-family: 'Raleway', sans-serif;*/

*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;	
}
body {
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    background-color: #ffffff;
}

/* Heading Typo */
body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #111111;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    margin: 0px 0px 0px 0px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 62px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #3d3d3d;
}

p a {
    color: #fff;
}
/* Peragraph Typo */
p {
    letter-spacing: 0.2px;
    line-height: 24px;
	color:#666666;
	font-size:14px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
}

ul {
   margin:0px;
   padding:0px;
}
li {
    
    list-style: none;
}
ul ul {
    margin:0px;
	padding:0px;
}
ol {
    float: none;
    list-style: decimal;
    padding-left: 15px;
}
ol ol {
    margin-left: 20px;
}
ol li {
	list-style: decimal;
	width: 100%;
}
figure {
	float:left;
	width:100%;
    position: relative;
	overflow:hidden;
}

.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
}

img {
    max-width: 100%;
}

strong {
    color: #3d3d3d;
}

iframe {
    border: none;
    float: left;
    width: 100%;
}
/* Form Input Typo */
select {
    border: 1px solid #d2d2d2;
    color: #3d3d3d;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    padding: 8px 12px;
    width: 100%;
}

label {
    color: #3d3d3d;
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
}

button {
    border: none;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    -moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    border: 1px solid #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    vertical-align: middle;
}

form p {
    float: left;
    position: relative;
    width: 100%;
}

form p span i {
    color: #474747;
    left: 16px;
    position: absolute;
    top: 13px;
}
table {
    background-color: transparent;
    max-width: 100%;
    width: 100%;
}
th {
    text-align: left;
}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
    border-top: 1px solid #d2d2d2;
    border: 1px solid #d2d2d2;
    line-height: 2.5;
    padding-left: 7px;
    vertical-align: top;
}
table thead tr th {
    border-top: 1px solid #d2d2d2;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
	border-top: 1px solid #d2d2d2;
}
table > thead > tr > th {
    border-bottom: 2px solid #d2d2d2;
    vertical-align: bottom;
}
table > caption + thead > tr:first-child > th, table > colgroup + thead > tr:first-child > th, table > thead:first-child > tr:first-child > th, table > caption + thead > tr:first-child > td, table > colgroup + thead > tr:first-child > td, table > thead:first-child > tr:first-child > td 
{
	border-bottom: 0;
}
table > tbody + tbody {
    border-top: 2px solid #d2d2d2;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 12px 16px;
}
p ins {
    color: #999;
}
dl dd {
    margin-left: 20px;
}
address {
    font-style: italic;
}
::-webkit-input-placeholder {color: #747577; opacity: 1;font-weight: 600;}
:-moz-placeholder { color: #747577; opacity: 1;font-weight: 600; }
::-moz-placeholder { color: #747577; opacity: 1; font-weight: 600;}
:-ms-input-placeholder {color: #747577; opacity: 1;font-weight: 600;}


.white::-webkit-input-placeholder {color: #ffffff; opacity: 1;font-weight: 600;}
.white:-moz-placeholder { color: #ffffff; opacity: 1;font-weight: 600; }
.white::-moz-placeholder { color: #ffffff; opacity: 1; font-weight: 600;}
.white:-ms-input-placeholder {color: #ffffff; opacity: 1;font-weight: 600;}

.black::-webkit-input-placeholder {color: #000000; opacity: 1;font-weight: 600;font-size: 16px;}
.black:-moz-placeholder { color: #000000; opacity: 1;font-weight: 600; font-size: 16px;}
.black::-moz-placeholder { color: #000000; opacity: 1; font-weight: 600;font-size: 16px;}
.black:-ms-input-placeholder {color: #000000; opacity: 1;font-weight: 600;font-size: 16px;}
/*
      ==============================================================
           Transition Style
      ==============================================================
*/
body h1, body h2, body h3, body h4, body h5, body h6,
.tab_range_des_bg,
li,
p,
a,
.product_wrap>img,
.gallery_wrap>img,
.gallery_wrap:before,
.read_more>a,
.gt_tab_link>ul>li:before,
.form_style>form>button{
    transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;
}

/*#gt_buyer_scroll::-webkit-scrollbar {
    width: 15px;
}
 
#gt_buyer_scroll::-webkit-scrollbar-track {
    border: 1px solid #f6921e;
    padding: 5px; 
}
 
#gt_buyer_scroll::-webkit-scrollbar-thumb {
  background-color: #f6921e;border-radius: 30px;width: 10px;
}*/

#gt_buyer_scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,1);
    border-radius: 10px;
    background-color: #ffffff;border: 1px solid #f6921e;
}

#gt_buyer_scroll::-webkit-scrollbar
{
    width: 10px;
    background-color: #f6921e;
}

#gt_buyer_scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #f6921e;
}